<!DOCTYPE html>
<html lang="en" charset="utf-8">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel="stylesheet">
  {{ $styles := resources.Get "style.css" }}
  <link rel="stylesheet" href="{{ $styles.Permalink }}">
  <title>{{ if .Title }}{{ .Title }} | {{ .Site.Title }}{{ else }}{{ .Site.Title }}{{ end }}</title>

  <link rel="icon" href="/favicon-32x32.png" />
</head>

<body>
  <div class="wrapper">
    <nav>
      <div class="nav__header">
        <div class="nav__logo">
          <a href="/">Marta Rebelo</a>
        </div>
        <div class="nav__menu__btn" id="menu-btn">
          <i class="ri-menu-line"></i>
          <!-- icone
            -->

        </div>
      </div>
      <ul class="nav__links" id="nav-links">
        <li><span><a href="/">Home</a></span></li>
        <li><span><a href="/about">About</a></span></li>
        <li><span><a href="https://www.linkedin.com/in/m-rebelo/" target="_blank"><i
                class="fa-brands fa-linkedin"></i></a></span></li>
        <li><span><a href="mailto:martarebelo.media@gmail.com"><i class="fa fa-envelope"></i></a></span></li>
      </ul>
    </nav>

    <div class="content">
      {{ block "main" . }}
      {{ end }}
    </div>

    <div class="push"></div>
  </div>

  <footer class="footer">
    <p> Copyright © 2025 Marta Rebelo. All rights reserved.</p>
  </footer>

  {{ $scripts := resources.Get "main.js" }}
  <script src="{{ $scripts.Permalink }}"></script>
</body>

</html>
