@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary-color: #dcd7f8;
  --text-dark: #1E1E1E;
  --text-light: #4C4D49;
  --white: #ffffff;
  --max-width: 1200px;
  /* 
  background: linear-gradient(0deg, rgba(250,240,224,0.3799720571822479) 0%, rgba(255,222,209,1) 100%);
  */

}



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  padding: 5rem 1rem;
  margin: auto;

}

.project__container {
  padding-top: 0;
}

.section__subheader {
  font-size: 1.2rem;
  font-weight: 500;

  color: var(--text-light);
  text-align: left;
}

.section__header {
  font-size: 2.5rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: var(--text-dark);
  text-align: left;
  line-height: 3.5rem;
}

img {
  display: flex;
  width: 100%;



}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  z-index: 9;
}

.nav__header {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
}

.nav__logo a {
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: var(--text-dark);
}

.nav__menu__btn {
  font-size: 1.5rem;

  color: var(--text-dark);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--white);
  transition: transform 0.5s;
  z-index: -1;
}

.nav__links.open {
  transform: translateY(100%);
}

.nav__links a {

  font-weight: 500;
  color: var(--text-dark);
}

.nav__links a:hover {
  color: var(--primary-color);
}

header {
  padding-top: 5rem;
  position: relative;
  isolation: isolate;
  /* background-color: var(--primary-color);*/
}

.header__bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  background-color: var(--white);
  z-index: -1;
}

.header__container {
  padding-block: 8rem 0;
  display: flex;
  gap: 2rem;
}

.header__content h4 {
  max-width: fit-content;
  margin-inline: auto;
  margin-bottom: 1rem;
  padding: 5px 15px;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-dark);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5rem;
}

.header__content h1 {
  margin-bottom: 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 4.5rem;
  color: var(--text-dark);
  text-align: left;
}

.header__content h1 span {
  font-size: 5rem;
}

.header__content h2 {
  margin-bottom: 1rem;

  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-dark);
  text-align: left;
}

.header__content p {
  margin-bottom: 2rem;
  color: var(--text-light);
  text-align: left;
}


.about__row {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  overflow: hidden;
  
  /* outline-style: solid;
  outline-width: 1px;
  outline-color: #1E1E1E;*/
  
}




.about__row a {
  color: green;

}

.about__row:nth-child(3) {
  margin-top: 4rem;
}

.about__image {
  flex: 1;
  max-width: 400px;
  margin-inline: auto;


}

.about__content {
  flex: 1;
  text-align: left;
}

.about__content span {
  margin-inline: auto;
  margin-bottom: 1rem;
  width: 80px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.about__content span img {
  max-width: 40px;


}


.about__content h4 {
  max-width: 450px;
  margin-inline: auto;
  margin-bottom: 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  color: var(--text-dark);
  line-height: 3rem;
}

.about__content p {
  max-width: 450px;
  margin-inline: auto;
  color: var(--text-light);
}

a.button {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;

  font-weight: 500;
  color: #FFFFFF;
  background-color: #4eb5f1;
  text-align: center;
  transition: all 0.2s;
}

a.button:hover {
  background-color: #4095c6;
  color: red;
}





.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  font-size: 0.9rem;
  color: var(--text-light);
  text-align: center;
}

@media all and (max-width:30em) {
  a.button {
    display: block;
    margin: 0.2rem auto;
  }
}

@media (width > 540px) {
  .header__content h1 {
    font-size: 4.5rem;
    line-height: 5rem;
  }

  .header__content h1 span {
    font-size: 6rem;
  }
}

@media (width > 768px) {
  nav {
    position: static;
    padding: 2rem 1rem;
    max-width: var(--max-width);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .nav__header {
    padding: 0;
    background-color: transparent;
  }

  .nav__logo a {
    font-size: 1.5rem;
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    position: static;
    padding: 0;
    flex-direction: row;
    justify-content: flex-end;
    background-color: transparent;
    transform: none;
  }

  header {
    padding-top: 0;
  }

  .header__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .header__content {
    grid-area: 1/2/2/3;
  }

  .header__content :is(h4, .header__btn button) {
    margin-inline-start: unset;
  }

  .header__content :is(h1, h2) {
    text-align: left;
  }

  .header__content p {
    max-width: 400px;
    text-align: left;
  }


  .about__row {
    flex-direction: row;
    align-items: center;
  }

  .about__row:nth-child(4) {
    flex-direction: row-reverse;
  }

  .about__image {
    max-width: unset;
    margin-inline: auto;
  }

  .about__content {
    text-align: left;
  }

}
